@model razansmadi.Models.Feature

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
</head>
<body>
    <div>
        <h4>Feature</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Air_conditioning)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Air_conditioning)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Laundry)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Laundry)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Refrigerator)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Refrigerator)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Washer)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Washer)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Barbeque)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Barbeque)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Sauna)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Sauna)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Wifi)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Wifi)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.indoorSwimmingPool)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.indoorSwimmingPool)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Microwave)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Microwave)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.SwimmingPool)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.SwimmingPool)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.YouthGames)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.YouthGames)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.KidsGames)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.KidsGames)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.OutdoorShower)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.OutdoorShower)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Tv_Cable)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Tv_Cable)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Carpark)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Carpark)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Features1)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Features1)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Features2)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Features2)
            </dd>
    
        </dl>
    </div>
    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.Features_ID }) |
        @Html.ActionLink("Back to List", "Index")
    </p>
</body>
</html>
