@model razansmadi.Models.Chalet

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="page-wrapper">
    <div class="content container-fluid">
        <div class="page-header">
            <h2>Chalet Details</h2>
        </div>

        <div>
            <div>

                <div class="form-group">
                    Chalet Name
                    <div class="form-control">
                        @Html.DisplayFor(model => model.Chalet_Name)
                    </div>
                </div>
                <div class="form-group">
                    Chalet Description
                    <div class="form-control">
                        @Html.DisplayFor(model => model.Chalet_Description)
                    </div>
                </div>

                <div class="form-group">
                    Chalet Address
                    <div class="form-control">
                        @Html.DisplayFor(model => model.Chalet_Address)
                    </div>
                </div>


                <div class="form-group">
                    Number Of Adult
                    <div class="form-control">
                        @Html.DisplayFor(model => model.NnmberOfAdult)
                    </div>
                </div>


                <div class="form-group">
                    Number Of kid
                    <div class="form-control">
                        @Html.DisplayFor(model => model.NnmberOfkid)
                    </div>
                </div>
                <div class="form-group">
                    Price Per Night
                    <div class="form-control">
                        @Html.DisplayFor(model => model.PricePerNight)
                    </div>
                </div>
                <div class="form-group">
                    bedroom
                    <div class="form-control">
                        @Html.DisplayFor(model => model.bedroom)
                    </div>
                </div>

                <div class="form-group">
                    bathroom
                    <div class="form-control">
                        @Html.DisplayFor(model => model.bathroom)
                    </div>
                </div>
                <div class="form-group">
                    Area
                    <div class="form-control">
                        @Html.DisplayFor(model => model.area)
                    </div>
                </div>
            </div>
            <div class="d-flex justify-content-between ">
                <div class="col-lg-6 col-sm-12 ">
                    @Html.ActionLink("All Feature", "Admin_Features", "Features", new { id = Model.ChaletID, FeatureID = Model.Features_ID }, new { @class = "btn btn-success" })



                    @Html.ActionLink("All Imeges", "Admin_Images", "Images", new { id = Model.ChaletID, imgId = Model.Images_ID }, new { @class = "btn btn-success" })

                </div>
             </div>

            <br />
        </div>
        <p class="d-flex pl-3">
            <a href="~/Chalets/Index" class="btn btn-secondary">Back to list</a>
        </p>
    </div>
    <br />
</div>
