@model razansmadi.Models.Image

@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
</head>
<body>
    <div>
        <h4>Image</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.MainImage)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.MainImage)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.poolImage)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.poolImage)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.gardenImage)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.gardenImage)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.playGroundImage)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.playGroundImage)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.roomImage)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.roomImage)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.kitchenImage)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.kitchenImage)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.livingRoomImage)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.livingRoomImage)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.bathroomImage)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.bathroomImage)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.viewImage)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.viewImage)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.randomImage)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.randomImage)
            </dd>
    
        </dl>
    </div>
    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.Images_ID }) |
        @Html.ActionLink("Back to List", "Index")
    </p>
</body>
</html>
