@model IEnumerable<razansmadi.Models.Comment>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
@using razansmadi.Models


<div class="page-wrapper">
    <div class="content container-fluid">
        <div class="page-header">
            <div class="row">
                <div class="col-sm-12">
                    <h3 class="page-title"> Chalets Requests </h3>
                    <ul class="breadcrumb">
                        <li class="breadcrumb-item"><a href="index.html">Dashboard</a></li>
                        <li class="breadcrumb-item active">Chalets Requests</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="datatable table table-hover table-center mb-0">

                                <tr>

                                    <th>
                                       Comment
                                    </th>
                                    <th>
                                     Date
                                    </th>
                                    <th>
                                     Email
                                    </th>
                                    <th>
                                     Chalet Name
                                    </th>
                                    <th></th>
                                </tr>

                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td style="max-width: 100px; overflow: hidden; text-overflow: ellipsis; white-space: nowrap;">
                                            @Html.DisplayFor(modelItem => item.comment1)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Comment_Date)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.AspNetUser.Email)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Chalet.Chalet_Name)
                                        </td>
                                        <td>
                                            @Html.ActionLink("Details", "Details", new { id = item.Comment_ID }, new { @class = "btn btn-primary" })

                                            @Html.ActionLink("Delete", "Delete", new { id = item.Comment_ID }, new { @class = "btn btn-danger" })
                                        </td>
                                    </tr>
                                }
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
