@model razansmadi.Models.Booking

@{
    Layout = null;
}
@using razansmadi.Models

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Booking</title>

    <!-- Google font -->
    <link href="https://fonts.googleapis.com/css?family=Raleway:400,700" rel="stylesheet">

    <!-- Bootstrap -->
    <link type="text/css" rel="stylesheet" href="~/form_Templates/colorlib-booking-8/css/bootstrap.min.css" />

    <!-- Custom stlylesheet -->
    <link type="text/css" rel="stylesheet" href="~/form_Templates/colorlib-booking-8/css/style.css">

</head>
<body>
    <div id="booking" class="section">
        <div class="section-center">
            <div class="container">
                <div class="row">
                    <div class="booking-form">
                        <div class="form-header">
                            <h1>Make your reservation</h1>
                        </div>
                        @{
                            var db = new MasterPieceEntities();
                            int id = 1;
                            var chalet = db.Chalets.FirstOrDefault(i => i.ChaletID == id);
                            var price = chalet.PricePerNight;



                        }





                        @using (Html.BeginForm())
                        {
                            @Html.AntiForgeryToken()
                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                            @Html.HiddenFor(model => model.ChaletID)
                            @Html.HiddenFor(model => model.id)

                            <div class="d-flex">

                                <div class="col-md-6">
                                    <div style="color:white;" class="col-3"> Check In Date</div>
                                    <div class="form-group">
                                        @Html.EditorFor(model => model.CheckInDate, new { htmlAttributes = new { @class = "form-control", required = "required", type = "date", min = DateTime.Now.ToString("yyyy-MM-dd") } })
                                        @Html.ValidationMessageFor(model => model.CheckInDate, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                                <div class="col-md-6">
                                    <div style="color:white;"> Check Out Date</div>
                                    <div class="form-group">
                                        @Html.EditorFor(model => model.CheckInDate, new { htmlAttributes = new { @class = "form-control", required = "required", type = "date", min = DateTime.Now.ToString("yyyy-MM-dd") } })
                                        @Html.ValidationMessageFor(model => model.CheckOutDate, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        @Html.DropDownList("NumOfAdult", null, htmlAttributes: new { @class = "form-control" })
                                        @Html.ValidationMessageFor(model => model.NumOfAdult, "", new { @class = "text-danger" })

                                    </div>
                                </div>

                                <div class="col-md-6">
                                    <div class="form-group">

                                        @Html.DropDownList("NumOfKids", null, htmlAttributes: new { @class = "form-control" })
                                        @Html.ValidationMessageFor(model => model.NumOfKids, "", new { @class = "text-danger" })

                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        @Html.EditorFor(model => model.TotalPrice, new { htmlAttributes = new { @class = "form-control", PlaceHolder = "Total Price", min = @price } })
                                        @Html.ValidationMessageFor(model => model.TotalPrice, "", new { @class = "text-danger" })
                                        <span class="form-label"> Total Price </span>
                                    </div>
                                </div>

                                <div class="col-md-6">
                                    <div class="form-group">
                                        @Html.EditorFor(model => model.PaymentStatus, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.PaymentStatus, "", new { @class = "text-danger" })
                                        <span class="form-label">  Payment Status </span>

                                    </div>
                                </div>
                            </div>

                            <div class="col-md-12">
                                <div class="form-btn">
                                    <input type="submit" value="Book Now" class="submit-btn" />
                                </div>
                            </div>


                        }
                    </div>
                </div>
            </div>
       </div>
     </div>
</body>
</html>
