@model Tuple<List<razansmadi.Models.Chalet>, List<razansmadi.Models.Image>>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_OwnersLayout.cshtml";
}

<div class="page-wrapper">
    <div class="content container-fluid">
        <div class="page-header">
            <div class="row">
                <div class="col-sm-12">
                    <h3 class="page-title">Owner</h3>
                    <ul class="breadcrumb">
                        <li class="breadcrumb-item"><a href="index.html">Owner</a></li>
                        <li class="breadcrumb-item active">Chalets</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <p>
                    @Html.ActionLink("Create New", "Create")
                </p>
                <div class="card">
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="datatable table table-hover table-center mb-0">
                                <thead>
                                    <tr>
                                        <th>Main Image </th>
                                        <th>Name</th>
                                        <th>Description</th>
                                        <th>Address</th>
                                        <th># Of Adult</th>
                                        <th># Of kid</th>
                                        <th>Price Start From</th>
                                        <th> </th>
                                        <th> </th>
                                        <th> </th>
                                        <th> </th>


                                    </tr>
                                </thead>

                                @foreach (var item in Model.Item1)
                                {
                                    <tr>
                                        @foreach (var item2 in Model.Item2)
                                        {
                                            <td>
                                                <img src="@item2.MainImage" width:150px" height:"150px" />
                                            </td>
                                        }
                                            <td>
                                                @Html.DisplayFor(modelItem => item.Chalet_Name)
                                            </td>
                                            <td style="max-width: 100px; overflow: hidden; text-overflow: ellipsis; white-space: nowrap;">
                                                @Html.DisplayFor(modelItem => item.Chalet_Description)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.Chalet_Address)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.NnmberOfAdult)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.NnmberOfkid)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.PricePerNight)
                                            </td>
                                            <td>
                                                @Html.ActionLink("All Feature", "index", "Features", new { id = item.Features_ID }, null)
                                            </td>

                                            <td>
                                                @Html.ActionLink("All Imeges", "OwnerAllImages", "Images", new { id = item.Images_ID }, null)
                                            </td>

                                            <td>
                                                @Html.ActionLink("Edit", "Edit", new { id = item.ChaletID }) |
                                                @Html.ActionLink("Details", "Details", new { id = item.ChaletID }) |
                                                @Html.ActionLink("Delete", "Delete", new { id = item.ChaletID })
                                            </td>
                                        </tr>

                                }

                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
