@model razansmadi.Models.Chalet

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_OwnersLayout.cshtml";
}

<div class="page-wrapper">
    <div class="content container-fluid">
        <div class="page-header">
            <div class="row">
                <div class="col-sm-12">
                    <ul class="breadcrumb">
                        <li class="breadcrumb-item active">Chalet Details</li>
                    </ul>
                </div>
            </div>
        </div>

        <div>
            <div>

                <div class="form-group">
                    Chalet Name
                    <div class="form-control">
                        @Html.DisplayFor(model => model.Chalet_Name)
                    </div>
                </div>
                <div class="form-group">
                    Chalet Description
                    <div class="form-control">
                        @Html.DisplayFor(model => model.Chalet_Description)
                    </div>
                </div>

                <div class="form-group">
                    Chalet Address
                    <div class="form-control">
                        @Html.DisplayFor(model => model.Chalet_Address)
                    </div>
                </div>


                <div class="form-group">
                    Number Of Adult
                    <div class="form-control">
                        @Html.DisplayFor(model => model.NnmberOfAdult)
                    </div>
                </div>


                <div class="form-group">
                    Number Of kid
                    <div class="form-control">
                        @Html.DisplayFor(model => model.NnmberOfkid)
                    </div>
                </div>
                <div class="form-group">
                    Price Per Night
                    <div class="form-control">
                        @Html.DisplayFor(model => model.PricePerNight)
                    </div>
                </div>
                <div class="form-group">
                    bedroom
                    <div class="form-control">
                        @Html.DisplayFor(model => model.bedroom)
                    </div>
                </div>

                <div class="form-group">
                    bathroom
                    <div class="form-control">
                        @Html.DisplayFor(model => model.bathroom)
                    </div>
                </div>
                <div class="form-group">
                    Area
                    <div class="form-control">
                        @Html.DisplayFor(model => model.area)
                    </div>
                </div>
            </div>

            <br />
        </div>
        <p>
            <a href="~/SubAdminChalets/Index">Back to list</a>
        </p>
    </div>
    <br />
</div>
