@model Tuple<List<razansmadi.Models.Chalet>, List<string>>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_OwnersLayout.cshtml";
}
@using razansmadi.Models
@using Microsoft.AspNet.Identity


<div class="page-wrapper">



    <div class="content container-fluid">
        <div class="page-header">
            <div class="row">
                <div class="col-sm-12">
                    <h3 class="page-title">Owner</h3>
                    <ul class="breadcrumb">
                        <li class="breadcrumb-item"><a href="index.html">Owner</a></li>
                        <li class="breadcrumb-item active">Chalets</li>
                    </ul>
                </div>
            </div>
        </div>



        @{
            var db = new MasterPieceEntities();
            string Uid = User.Identity.GetUserId();
            //string Uid = "kols-pe98-kslo";
            int numberOfChalets = db.Chalets.Count(u => u.userid == Uid);

            var user = db.AspNetUsers.FirstOrDefault(u => u.Id == Uid);
            if (user != null)
            {



                var ispay = user.donePay;
                <p>
                    @if (Convert.ToBoolean(ispay))
                    {
                        if (@numberOfChalets < 3)
                        {
                            @Html.ActionLink("Create New", "Create", null, new { @class = "btn btn-primary" })
                        }
                    }

                    else
                    {

                        if (!Convert.ToBoolean(ispay) && numberOfChalets >= 3)
                        {
                            @Html.ActionLink("Pay To activate Chalets", "Create", "transactions", null, new { @class = "btn btn-info" })
                        }

                        else
                        {
                        @Html.ActionLink("Pay To post Chalet", "Create", "transactions", null, new { @class = "btn btn-info" })
                        }


                    }



                </p>

            }

        }

        @if (@numberOfChalets > 0)
        {
            <div class="row">
                <div class="col-md-12">
                    <div class="card">

                        <div class="card-body">

                            <div class="table-responsive">
                                <table class="datatable table table-hover table-center mb-0">
                                    <thead>
                                        <tr>
                                            <th>Main Image </th>
                                            <th>Name</th>
                                            <th>Description</th>
                                            <th>Address</th>
                                            <th># Of Adult</th>
                                            <th># Of kid</th>
                                            <th>Price <br />Start From</th>
                                            <th>Expiration <br /> Status  </th>
                                            <th> </th>
                                            <th> </th>
                                            <th> </th>
                                            <th> </th>

                                        </tr>
                                    </thead>



                                    @foreach (var item in Model.Item1)
                                    {
                                        int counter = 0;
                                        <tr>
                                            <td>
                                                <img src="~/img/MainImage/@Model.Item2[@counter]" style="width:50px; height:50px" />

                                            </td>

                                            <td>
                                                @Html.DisplayFor(modelItem => item.Chalet_Name)
                                            </td>
                                            <td style="max-width: 100px; overflow: hidden; text-overflow: ellipsis; white-space: nowrap;">
                                                @Html.DisplayFor(modelItem => item.Chalet_Description)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.Chalet_Address)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.NnmberOfAdult)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.NnmberOfkid)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.PricePerNight) JD
                                            </td>
                                            <td>
                                                @{

                                                    string id = User.Identity.GetUserId();
                                                    var u = db.AspNetUsers.Find(id);

                                                    if (u.donePay == false)
                                                    {
                                                        <span style="color:red;">Expired</span>
                                                    }
                                                    else
                                                    {
                                                        <span style="color:green;">Active</span>
                                                    }

                                                }
                                            </td>

                                            <td>
                                                @Html.ActionLink("All Feature", "index", "Features", new { id = item.Features_ID }, null)
                                            </td>

                                            <td>
                                                @Html.ActionLink("All Imeges", "OwnerAllImages", "Images", new { id = item.Images_ID }, null)
                                            </td>

                                            <td>
                                                @Html.ActionLink("Edit", "Edit", new { id = item.ChaletID }) |
                                                @Html.ActionLink("Details", "Details", new { id = item.ChaletID })
                                            </td>
                                            @counter= @counter+1;

                                        </tr>

                                                    }

                                </table>
                            </div>


                        </div>




                    </div>
                </div>
            </div>

                                                    }

                                                    else
                                                    {
            <label class="form-control border-info" style="display: inline"> You don't post any chalet yet </label>
        }


    </div>






</div>



