@model IEnumerable<razansmadi.Models.AspNetUser>

@{
    ViewBag.Title = "Owners";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<style>
    .thumbnail {
        top: -50px;
        left: -35px;
        display: block;
        z-index: 999;
        cursor: pointer;
        -webkit-transition-property: all;
        -webkit-transition-duration: 0.7s;
        -webkit-transition-timing-function: ease;
    }
        /*change the number below to scale to the appropriate size*/
        .thumbnail:hover {
            transform: scale(1.5);
        }


</style>

<div class="page-wrapper">
    <div class="content container-fluid">

        <!-- Page Header -->
        <div class="page-header">
            <div class="row">
                <div class="col">
                    <h3 class="page-title">Owners</h3>
                </div>
            </div>
        </div>
        <!-- /Page Header -->

        <div class="row">
            <div class="col-sm-12">
                <div class="card">
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="datatable table table-stripped p-3">
                                <thead>
                                    <tr>
                                        <th>Image</th>
                                        <th>First Name</th>
                                        <th>Last Name</th>
                                        <th>Email</th>
                                        <th>Phone Number</th>
                                        <th class="text-right"> </th>
                                    </tr>
                                </thead>
                                <tbody>

                                    @foreach (var item in Model)
                                    {
                                        <tr>
                                            <td>
                                                <img src="~/img/Customer_Img/@item.Customer_Img" class="thumbnail" style="width:50px; height:50px; " />
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.FirstName)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.LastName)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.Email)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.Phone)
                                            </td>

                                            <td>
                                                @Html.ActionLink("Details", "OwnerDitals", new { id = item.Id }, new { @class = "btn btn-primary" })
                                            </td>
                                            <td>

                                            </td>
                                        </tr>
                                    }
                                
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>