@model razansmadi.Models.AspNetUser

@{
    Layout = "~/Views/Shared/_OwnersLayout.cshtml";
}
<style>
    .thumbnail {
        top: -50px;
        left: -35px;
        display: block;
        z-index: 999;
        cursor: pointer;
        -webkit-transition-property: all;
        -webkit-transition-duration: 0.7s;
        -webkit-transition-timing-function: ease;
    }
        /*change the number below to scale to the appropriate size*/
        .thumbnail:hover {
            transform: scale(2.5);
        }

</style>

<div class="page-wrapper">
    <div class="content container-fluid">
        <div class="page-header">
            <h2>Details</h2>
            <div class="row">
                <div class="col-sm-12">
                    <ul class="breadcrumb">
                        <li class="breadcrumb-item"><a href="index.html">Owners</a></li>
                        <li class="breadcrumb-item active">Profile</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="table-responsive">
            <table class="table table-hover">
                <tr>
                    <th></th>
                </tr>

                <tr>
                    <th>Iamge</th>
                    <td><img src="~/img/Customer_Img/@Model.Customer_Img" style="width:50px; height:50px;" class="thumbnail" /></td>
                </tr>
                <tr>
                    <th>Email</th>
                    <td>@Html.DisplayFor(model => model.Email)</td>
                </tr>
                <tr>
                    <th>First Name</th>
                    <td>@Html.DisplayFor(model => model.FirstName)</td>
                </tr>
                <tr>
                    <th>Last Name</th>
                    <td>@Html.DisplayFor(model => model.LastName)</td>
                </tr>
                <tr>
                    <th>Phone</th>
                    <td>@Html.DisplayFor(model => model.Phone)</td>
                </tr>
            </table>
        </div>
        <p>
            @Html.ActionLink("Edit", "EditOwnersProfile", new { id = Model.Id })
        </p>
    </div>
</div>
