@model Tuple<razansmadi.Models.AspNetUser, List<razansmadi.Models.Booking> ,List<razansmadi.Models.Feature>, List < razansmadi.Models.Image >>


@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="zxx">
<head>
    <meta charset="UTF-8">
    <meta name="description" content="Aler Template">
    <meta name="keywords" content="Aler, unica, creative, html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Owner</title>

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700,800,900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lato:400,700,900&display=swap" rel="stylesheet">

    <!-- Css Styles -->
    <link rel="stylesheet" href="~/template/css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="~/template/css/font-awesome.min.css" type="text/css">
    <link rel="stylesheet" href="~/template/css/elegant-icons.css" type="text/css">
    <link rel="stylesheet" href="~/template/css/jquery-ui.min.css" type="text/css">
    <link rel="stylesheet" href="~/template/css/nice-select.css" type="text/css">
    <link rel="stylesheet" href="~/template/css/owl.carousel.min.css" type="text/css">
    <link rel="stylesheet" href="~/template/css/magnific-popup.css" type="text/css">
    <link rel="stylesheet" href="~/template/css/slicknav.min.css" type="text/css">
    <link rel="stylesheet" href="~/template/css/style.css" type="text/css">
</head>

<body>
    <!-- Offcanvas Menu Wrapper Begin -->
    <div class="offcanvas-menu-overlay"></div>
    <div class="offcanvas-menu-wrapper">
        <div class="canvas-close">
            <span class="icon_close"></span>
        </div>
        <div class="logo">
            <a href="./index.html">
                <span style="font-family: 'Babylonica', cursive;font-weight: bolder;font-size:35px;color:#053503;">Royal Chalets</span>
            </a>
        </div>
        <div id="mobile-menu-wrap"></div>
        <div class="om-social">
            <a href="#"><i class="fa fa-facebook"></i></a>
            <a href="#"><i class="fa fa-twitter"></i></a>
            <a href="#"><i class="fa fa-instagram"></i></a>
        </div>
    </div>
    <!-- Offcanvas Menu Wrapper End -->
    <!-- Header Section Begin -->
    <header class="header-section">
        <div class="hs-top">
            <div class="container">
                <div class="row">
                    <div class="col-lg-2">
                        <div class="logo">
                            <a href="./index.html"><img src="img/logo.png" alt=""></a>
                        </div>
                    </div>
                </div>
                <div class="canvas-open">
                    <span class="icon_menu"></span>
                </div>
            </div>
        </div>
        <div class="hs-nav">
            <div class="d-flex justify-content-between">
                <div class="col-lg-3 logo">
                    <span style="font-family: 'Babylonica', cursive;font-weight: bolder;font-size:30px;color:#053503;">Royal Chalets</span>
                </div>
                <div class="col-lg-6">
                    <nav class="nav-menu">
                        <ul>
                            <li ><a href="./index.html">Home</a></li>
                            <li><a href="./Our Chalets.html">Chalets</a></li>
                            <li class="active"><a href="./profile.html">Profile</a></li>
                            <li><a href="./about.html">About</a></li>
                            <li><a href="./contact.html">Contact</a></li>
                            <li style="text-decoration:none; text-decoration-color:#113220;">
                                @Html.Partial("_LoginPartial")
                            </li>
                        </ul>
                    </nav>
                </div>
                <div class="col-lg-3">
                    <div class="hn-social">
                        <a href="https://www.facebook.com" target="_blank"><i class="fa fa-facebook"></i></a>
                        <a href="https://twitter.com" target="_blank"><i class="fa fa-twitter"></i></a>
                        <a href="https://www.instagram.com/" target="_blank"><i class="fa fa-instagram"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!-- Header End -->
    <!-- Breadcrumb Section Begin -->
    <section class="breadcrumb-section spad set-bg" data-setbg="@Url.Content("~/img/beautiful-park.jpg")">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="breadcrumb-text">
                        <h4>Profile</h4>
                        <div class="bt-option">
                            <a href="./index.html"><i class="fa fa-home"></i> Home</a>
                            <a href="./agents.html">Profile</a>
                            <span>@Model.Item1.FirstName @Model.Item1.LastName</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Breadcrumb Section End -->
    <!-- Profile Section Begin -->
    <section class="profile-section spad">
        <div class="container">
            <div class="profile-agent-content">
                <div class="row">
                    <div class="col-lg-5">
                        <div class="profile-agent-info">
                            <div class="pi-pic">
                                <img src="~/img/agents/@Model.Item1.Customer_Img" alt="user Img">
                            </div>
                            <div class="pi-text">
                                <br />
                                <h5>@Model.Item1.FirstName @Model.Item1.LastName </h5>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-5">
                        <div class="profile-agent-widget">
                            <ul>
                                <li>Email <span>@Model.Item1.Email  </span></li>
                                <li>Phone <span>@Model.Item1.PhoneNumber</span></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-2 text-center">
                        @Html.ActionLink("Edit", "EditUserProfile", "AspNetUsers", new { id = 1 }, new { @class = "btn btn-success mt-3" })
                    </div>

                </div>
            </div>
        </div>
    </section>
    <br />
    <br />
    <!-- Profile Section End -->
    <!-- Property Section Begin -->

    @*<section class="property-section profile-page spad">
        <div style="display:flex;justify-content:center"> <button type="button" class="btn btn-success">Your Previous Reservations</button> <br /><br /></div>

        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-6 mix all house">
                    <div class="property-item">
                        @foreach (var c in Model.Item4)
                        {
                            <d class="pi-pic set-bg" data-setbg="~/img/northfarm/@c.MainImage"> </d>
                        }

                        @foreach (var c in Model.Item2)
                        {
                            <div class="pi-text">
                                <a href="#" class="heart-icon"></a>
                                <div class="pt-price">Start From @c.Chalet.PricePerNight JD /Day </div>
                                <h5>@c.Chalet.Chalet_Name</h5>
                                <p><span class="icon_pin_alt"></span> @c.Chalet.Chalet_Address</p>
                                <ul>
                                    <li><i class="fa fa-object-group"></i>@c.Chalet.area </li>
                                    <li><i class="fa fa-bathtub"></i>@c.Chalet.bathroom</li>
                                    <li><i class="fa fa-bed"></i>@c.Chalet.bedroom</li>

                                    @foreach (var a in Model.Item3)
                                    {
                                        <li><i class="fa fa-automobile"></i>@a.Carpark</li>

                                    }
                                </ul>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </section>*@
    <!-- Property Section End -->
    <!-- Footer Section Begin -->
    <footer class="footer-section">
        <div class="container">
            <div class="d-flex justify-content-between ">
                <div class="col-lg-4 col-md-6">
                    <div class="fs-about">
                        <div class="fs-logo">
                            <a href="#">
                                <span style="font-family: 'Babylonica', cursive;font-weight: bolder;font-size:70px;color:#053503;">Royal Chalets</span>
                            </a>
                        </div>
                        <p>
                            Comfortable and convenient to Enjoy the beauty of Jerash's stunning nature
                        </p>
                        <div class="fs-social">
                            <a href="#"><i class="fa fa-facebook"></i></a>
                            <a href="#"><i class="fa fa-twitter"></i></a>
                            <a href="#"><i class="fa fa-instagram"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 d-none d-md-block">
                    <div class="fs-widget">
                        <h5>Links</h5>
                        <div class="d-flex">
                            <ul class="col-6">
                                <li><a href="#">Contact us</a></li>
                                <li><a href="#">About us</a></li>
                                <li><a href="#">Register</a></li>
                            </ul>
                            <ul class="col-6">
                                <li><a href="#">All Chalets</a></li>
                                <li><a href="#">Rent your Chalets</a></li>
                                <li><a href="#">Login</a></li>
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="d-block d-sm-none">
                    <div class="fs-widget">
                        <h5 class="d-flex justify-content-center">Links</h5>
                        <div class="d-flex">
                            <ul class="col-6">
                                <li><a href="#">Contact</a></li>
                                <li><a href="#">About</a></li>
                                <li><a href="#">Register</a></li>
                                <li><a href="#">Chalets</a></li>
                                <li><a href="#">Login</a></li>
                            </ul>
                        </div>
                    </div>
                </div>

            </div>
            <div class="copyright-text">
                <p>
                    <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                    Copyright &copy;
                    <script>document.write(new Date().getFullYear());</script> All rights reserved.
                    <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                </p>
            </div>
        </div>
    </footer>
    <!-- Footer Section End -->
    <!-- Js Plugins -->
    <script src="~/template/js/jquery-3.3.1.min.js"></script>
    <script src="~/template/js/bootstrap.min.js"></script>
    <script src="~/template/js/jquery.magnific-popup.min.js"></script>
    <script src="~/template/js/mixitup.min.js"></script>
    <script src="~/template/js/jquery-ui.min.js"></script>
    <script src="~/template/js/jquery.nice-select.min.js"></script>
    <script src="~/template/js/jquery.slicknav.js"></script>
    <script src="~/template/js/owl.carousel.min.js"></script>
    <script src="~/template/js/jquery.richtext.min.js"></script>
    <script src="~/template/js/image-uploader.min.js"></script>
    <script src="~/template/js/main.js"></script>
</body>

</html>